Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

Dba 720 (#369)
  .github/workflows/oracle-db-duplicate.yml
  playbooks/delius_users/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add setup for SSL Wallet
  .github/workflows/oracle-db-ssl-wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_listener.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/main.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/vars/main.yml
  playbooks/oracle_ssl_wallet/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing environment directive for RMAN duplicate check job
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 720 (#370)
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix name of playbook
  .github/workflows/oracle-db-ssl-wallet.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove push event
  .github/workflows/oracle-db-ssl-wallet.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

update rbac version in ssm before uplift (#353)
  .github/workflows/ldap-rbac-uplift.yml
Owners: @ministryofjustice/hmpps-migration

feat: Add MIS AD password rotation workflow
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

chore: attempt at manual environment override
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

feat: Add MIS AD password rotation workflow (#371)
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

fix: ensure id-token write is present for OIDC auth
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

fix: ensure id-token write is present for OIDC auth
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

fix: ensure id-token write is present for OIDC auth (#373)
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

fix: describe-directories command syntax
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

Upload Certificate
  .github/workflows/oracle-db-ssl-wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/create_certificates.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/main.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/upload_certificate.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/vars/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

fix: describe-directories command syntax (#374)
  .github/workflows/mis-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

Filter json payload as a non json string
  playbooks/oracle_duplicate/rman_duplicate.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Filter json input as a non json string
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 720 (#375)
  .github/workflows/oracle-db-duplicate.yml
  playbooks/oracle_duplicate/rman_duplicate.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Non-json format string for ssm parameter
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 720 (#376)
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update ldap-update-user-roles.yml
  .github/workflows/ldap-update-user-roles.yml
Owners: @ministryofjustice/hmpps-migration

Dba 761 (#377)
  .github/workflows/oracle-db-ssl-wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_listener.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/create_certificates.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/main.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/upload_certificate.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/vars/main.yml
  playbooks/oracle_ssl_wallet/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Initial creation of replication management workflow
  common/files/calculate_audited_interaction_checksum.sh
  common/files/get_db_startup_scn.sh
  common/files/get_latest_user_update.sh
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/get_inbound_task_details.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/get_outbound_task_details.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/main.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/restart_business_interaction_task.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/restart_tasks.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/resume_tasks.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/stop_tasks.yml
  playbooks/oracle_manage_audit_replication/oracle_manage_audit_replication/tasks/wait_for_zero_throughput.yml
  playbooks/oracle_manage_audit_replication/playbook.yml
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba

Initial testing
  .github/workflows/oracle-db-audit-replication-management.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/get_inbound_task_details.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/get_outbound_task_details.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/main.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/restart_business_interaction_task.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/restart_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/resume_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/stop_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
  playbooks/oracle_audit_replication_management/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Checkout the common files
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Stop Replication Tasks
  .github/workflows/oracle-db-restore-points.yml
  playbooks/block_sessions/playbook.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/get_inbound_task_details.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/get_outbound_task_details.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/main.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/restart_business_interaction_task.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/restart_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/resume_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/stop_tasks.yml
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove repo reference
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Do not clean the checkout folder when we add another role
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Place common files in separate location
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Limited find
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Print the find
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Where is the playbook directory?
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Checkout common files one level up
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Do not overwrite the roles
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Why can I not create the link?
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

More debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Place common files under operations
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove redundant link
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration
