Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

Debug
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix indent
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix indent
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing bar
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Make naming consistent
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Change need
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Comment out
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing forward slash in sed
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove reliance on rman pre duplicate
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Reference env
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

modify existing task def
  .github/workflows/delius-core-update-task-def.yml
  .github/workflows/weblogic-update-task-def.yml
  docker/delius-core/weblogic-eis.json
  docker/delius-core/weblogic.json
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Missing variable
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Correct environment yaml
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

rename so main works
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

update var names
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

update vars
  .github/workflows/delius-core-update-task-def.yml
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

missing bracket
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

remove unneeded block
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

multilines were not working
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

test
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

test variables
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

base64 for multiline vars
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

use new output method
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

no newline
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

forgot dollar sign
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

line wrappig
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

remove jq escape
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

see if valid json
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

see if json valid again
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

just the json
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

quotes for shell
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

parsed task def
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

decode
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

referenced wrong step
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

double quotes
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

parse and modify
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

remove some jq fields
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

remove comments
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Double quote
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Literal environment for testing purpose
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration
