Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

add helm refresh db job
  helm/refresh-db/Chart.yaml
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

rds refresh only
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Stage backup schedules
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Adjust stage mis weekly schedule
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 814 schedule (#475)
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

directory name for helm
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

choose component to scale
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

use delius core kubernetes service account
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

update chart version
  helm/refresh-db/Chart.yaml
Owners: @ministryofjustice/hmpps-migration

chore: add helm chart for migration of db
  helm/migrate-db/Chart.yaml
  helm/migrate-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/delius-core-cp-rds-data-refresh.yaml
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update .github/workflows/delius-core-cp-rds-data-refresh.yaml
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update helm/refresh-db/templates/job.yaml
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

Update helm/refresh-db/templates/job.yaml
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

Update helm/refresh-db/templates/job.yaml
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

Apply suggestions from code review
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration

add RDS data refresh helm job (#476)
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
  helm/refresh-db/Chart.yaml
  helm/refresh-db/templates/job.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

fix: split resources
  helm/migrate-db/templates/config-map.yaml
  helm/migrate-db/templates/job.yaml
Owners: @ministryofjustice/hmpps-migration
