Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

Nested dictionary
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Raw output
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Why Not Work?
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Include in output info
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

rework preapproved (#254)
  .github/workflows/ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry.yaml
Owners: @ministryofjustice/hmpps-migration

Nit 1202 delius core slack (#262)
  .github/workflows/ldap-automation-image-build.yml
  .github/workflows/ldap-user-expiry.yaml
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

Remove debug
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

NIT-1228 add iaps-data-refresh pipeline
  .github/workflows/iaps-data-refresh.yml
Owners: @ministryofjustice/hmpps-migration

NIT-1228 add iaps-data-refresh pipeline (#264)
  .github/workflows/iaps-data-refresh.yml
Owners: @ministryofjustice/hmpps-migration

Workflow naming consistency
  .github/workflows/ansible-aws-image-build.yml
  .github/workflows/format-code.yml
  .github/workflows/iaps-data-refresh.yml
  .github/workflows/ldap-automation-image-build.yml
  .github/workflows/ldap-operational-automation-template.yml
Owners: @ministryofjustice/hmpps-migration

pedantic workflow naming
  .github/workflows/ansible-aws-image-build.yml
  .github/workflows/delius-core-update-task-def.yml
  .github/workflows/format-code.yml
  .github/workflows/iaps-data-refresh.yml
  .github/workflows/ldap-automation-image-build.yml
  .github/workflows/ldap-operational-automation-template.yml
  .github/workflows/ldap-rbac-uplift.yml
  .github/workflows/ldap-update-user-home-area.yml
  .github/workflows/ldap-update-user-roles.yml
  .github/workflows/ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry.yaml
  .github/workflows/test-automation-task.yml
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/unilink

typo
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Pedantic workflow naming (#265)
  .github/workflows/ansible-aws-image-build.yml
  .github/workflows/delius-core-update-task-def.yml
  .github/workflows/format-code.yml
  .github/workflows/iaps-data-refresh.yml
  .github/workflows/ldap-automation-image-build.yml
  .github/workflows/ldap-operational-automation-template.yml
  .github/workflows/ldap-rbac-uplift.yml
  .github/workflows/ldap-update-user-home-area.yml
  .github/workflows/ldap-update-user-roles.yml
  .github/workflows/ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry.yaml
  .github/workflows/test-automation-task.yml
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/unilink

typo
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

typo
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Dba 667 (#263)
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

typo (#267)
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Replace include
  playbooks/oracle_release_update/oracle_release_update/tasks/prepare_clone.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/session_cookie_workaround.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Replace includes
  playbooks/oracle_release_update/oracle_release_update/tasks/install_ojvm_ru.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Replace include
  playbooks/oracle_release_update/update_oem/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Save the file
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update ldap-user-expiry.yaml
  .github/workflows/ldap-user-expiry.yaml
Owners: @ministryofjustice/hmpps-migration

Update ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry-cron.yml
Owners: @ministryofjustice/hmpps-migration

Update ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry-cron.yml
Owners: @ministryofjustice/hmpps-migration

Update ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry-cron.yml
Owners: @ministryofjustice/hmpps-migration

Update ldap-user-expiry-cron.yml
  .github/workflows/ldap-user-expiry-cron.yml
Owners: @ministryofjustice/hmpps-migration

Does it not like include_role?
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add Debug
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove debug
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Tweak workflow_dispatch inputs for IAPS data refresh
  .github/workflows/iaps-data-refresh.yml
Owners: @ministryofjustice/hmpps-migration

Tweak workflow_dispatch inputs for IAPS data refresh (#270)
  .github/workflows/iaps-data-refresh.yml
Owners: @ministryofjustice/hmpps-migration

Dba 679 (#269)
  playbooks/oracle_release_update/oracle_release_update/tasks/install_ojvm_ru.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/prepare_clone.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/session_cookie_workaround.yml
  playbooks/oracle_release_update/update_oem/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add Debug
  playbooks/oracle_release_update/oracle_release_update/tasks/install_ojvm_ru.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Move Audit Compression Job to DELIUS_USER_SUPPORT
  playbooks/compress_audited_interaction/compress_audited_interaction/files/create_compression_job.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Move Audit Compression Job to DELIUS_USER_SUPPORT (#271)
  playbooks/compress_audited_interaction/compress_audited_interaction/files/create_compression_job.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add Creation of Audit Compression Job
  .github/workflows/oracle-db-delius-operational-artefacts.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing line continuation
  .github/workflows/oracle-db-delius-operational-artefacts.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix Task Title
  playbooks/delius-artefacts-playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

add debug
  playbooks/delius-artefacts-playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add debug
  .github/workflows/oracle-db-delius-operational-artefacts.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration
