Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

Also link the local role
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing level
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

WHere is my role?
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

More debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Link audit management role
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

More debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

More debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing operations
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove debug
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Show debug
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Speed up for testing
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing keyword
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Debug
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use newer docker image
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Upgrade docker container
  .github/workflows/oracle-db-restore-points.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove debug
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/wait_for_zero_throughput.yml
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Replication action is restart
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Start Position not supported for S3 DMS Sources
  common/files/get_latest_user_update.sh
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/restart_tasks.yml
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba

Remove user start position - not supported for s3 source
  playbooks/oracle_audit_replication_management/oracle_audit_replication_management/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

ldap sg pattern
  .github/workflows/ldap-rbac-uplift.yml
  .github/workflows/ldap-remove-user-passwords.yaml
  .github/workflows/ldap-update-user-home-area.yml
  .github/workflows/ldap-user-expiry.yaml
Owners: @ministryofjustice/hmpps-migration

ldap sg pattern (#379)
  .github/workflows/ldap-rbac-uplift.yml
  .github/workflows/ldap-remove-user-passwords.yaml
  .github/workflows/ldap-update-user-home-area.yml
  .github/workflows/ldap-user-expiry.yaml
Owners: @ministryofjustice/hmpps-migration

Unlock system passwords when rotating passwords
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Allow unlocking if password was changed in a previous incarnation
  playbooks/oracle_password_rotation/all_password_rotation/files/get_locked_due_to_password.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Revert locking check
  playbooks/oracle_password_rotation/all_password_rotation/files/get_locked_due_to_password.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Database view not required
  playbooks/oracle_password_rotation/all_password_rotation/files/get_locked_due_to_password.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

remove debug
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Defaults used for running emcli from non-oem database servers
  playbooks/oracle_password_rotation/all_password_rotation/defaults/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Include task to update oem targets
  playbooks/oracle_password_rotation/all_password_rotation/tasks/non_oem_database_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Task file to handle set monitoring password in oem
  playbooks/oracle_password_rotation/all_password_rotation/tasks/update_oem_targets.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Amendments to handle which emcli to run
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_password.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Run emcli from non-oem database servers if needed
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Extra var to indicate sync monitoring passwords
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 770 (#381)
  playbooks/oracle_password_rotation/all_password_rotation/defaults/main.yml
  playbooks/oracle_password_rotation/all_password_rotation/tasks/non_oem_database_passwords.yml
  playbooks/oracle_password_rotation/all_password_rotation/tasks/update_oem_targets.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_password.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_passwords.yml
  playbooks/oracle_restore_points/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Adapt to MP naming convention
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/upload_certificate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Do not filter by SslMode as it will be disabled
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/upload_certificate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Enable wallet on standby databases
  .github/workflows/oracle-db-ssl-wallet.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Create Parent Directory if Required
  .github/workflows/oracle-db-ssl-wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/create_certificates.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/test.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Copy PKCS#12 to Standby
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/create_certificates.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add Debug
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Correct local file destination
  playbooks/oracle_ssl_wallet/oracle_ssl_wallet/tasks/configure_wallet.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration
