Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

Restore application passwords for delius and mis only
  playbooks/oracle_duplicate/rman_duplicate.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove comments for -preapproved used for testing
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Change underscore to hyphen
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 696 (#291)
  .github/workflows/oracle-db-duplicate.yml
  playbooks/oracle_duplicate/rman_duplicate.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

OEM metrics add MIS environments
  .github/workflows/oracle-db-oem-metrics-setup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Addition of mis env and change mis hosts
  .github/workflows/oracle-db-autotasks.yml
  .github/workflows/oracle-db-aws-snapshot.yml
  .github/workflows/oracle-db-backup.yml
  .github/workflows/oracle-db-block-sessions.yml
  .github/workflows/oracle-db-build-ha.yml
  .github/workflows/oracle-db-deinstall.yml
  .github/workflows/oracle-db-delete-dbids-not-in-use.yml
  .github/workflows/oracle-db-licence-audit.yml
  .github/workflows/oracle-db-logfile-housekeeping.yml
  .github/workflows/oracle-db-oem-blackout.yml
  .github/workflows/oracle-db-password-rotation.yml
  .github/workflows/oracle-db-patching.yml
  .github/workflows/oracle-db-release-update.yml
  .github/workflows/oracle-db-restore-points.yml
  .github/workflows/oracle-db-set-parameters.yml
  .github/workflows/oracle-db-statspack-setup.yml
  .github/workflows/oracle-db-validate-backups.yml
  playbooks/oracle_licence_audit/audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use s3 backup bucket var
  playbooks/oracle_licence_audit/audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 695 (#292)
  .github/workflows/oracle-db-autotasks.yml
  .github/workflows/oracle-db-aws-snapshot.yml
  .github/workflows/oracle-db-backup.yml
  .github/workflows/oracle-db-block-sessions.yml
  .github/workflows/oracle-db-build-ha.yml
  .github/workflows/oracle-db-deinstall.yml
  .github/workflows/oracle-db-delete-dbids-not-in-use.yml
  .github/workflows/oracle-db-licence-audit.yml
  .github/workflows/oracle-db-logfile-housekeeping.yml
  .github/workflows/oracle-db-oem-blackout.yml
  .github/workflows/oracle-db-oem-metrics-setup.yml
  .github/workflows/oracle-db-password-rotation.yml
  .github/workflows/oracle-db-patching.yml
  .github/workflows/oracle-db-release-update.yml
  .github/workflows/oracle-db-restore-points.yml
  .github/workflows/oracle-db-set-parameters.yml
  .github/workflows/oracle-db-statspack-setup.yml
  .github/workflows/oracle-db-validate-backups.yml
  playbooks/oracle_licence_audit/audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Change Delius and Mis environment name from pre-prod to preprod
  .github/workflows/oracle-db-autotasks.yml
  .github/workflows/oracle-db-aws-snapshot.yml
  .github/workflows/oracle-db-backup.yml
  .github/workflows/oracle-db-block-sessions.yml
  .github/workflows/oracle-db-build-ha.yml
  .github/workflows/oracle-db-deinstall.yml
  .github/workflows/oracle-db-delete-dbids-not-in-use.yml
  .github/workflows/oracle-db-delius-configuration-artefacts.yml
  .github/workflows/oracle-db-delius-operational-artefacts.yml
  .github/workflows/oracle-db-dms-setup.yml
  .github/workflows/oracle-db-duplicate.yml
  .github/workflows/oracle-db-licence-audit.yml
  .github/workflows/oracle-db-logfile-housekeeping.yml
  .github/workflows/oracle-db-mis-configuration-artefacts.yml
  .github/workflows/oracle-db-oem-agent-setup.yml
  .github/workflows/oracle-db-oem-blackout.yml
  .github/workflows/oracle-db-oem-metrics-setup.yml
  .github/workflows/oracle-db-password-rotation.yml
  .github/workflows/oracle-db-patching.yml
  .github/workflows/oracle-db-release-update.yml
  .github/workflows/oracle-db-remove-orphan-backups.yml
  .github/workflows/oracle-db-restore-points.yml
  .github/workflows/oracle-db-set-parameters.yml
  .github/workflows/oracle-db-snapshot-standby.yml
  .github/workflows/oracle-db-statistics.yml
  .github/workflows/oracle-db-statspack-setup.yml
  .github/workflows/oracle-db-support-awr-reports.yml
  .github/workflows/oracle-db-validate-backups.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 695 (#293)
  .github/workflows/oracle-db-autotasks.yml
  .github/workflows/oracle-db-aws-snapshot.yml
  .github/workflows/oracle-db-backup.yml
  .github/workflows/oracle-db-block-sessions.yml
  .github/workflows/oracle-db-build-ha.yml
  .github/workflows/oracle-db-deinstall.yml
  .github/workflows/oracle-db-delete-dbids-not-in-use.yml
  .github/workflows/oracle-db-delius-configuration-artefacts.yml
  .github/workflows/oracle-db-delius-operational-artefacts.yml
  .github/workflows/oracle-db-dms-setup.yml
  .github/workflows/oracle-db-duplicate.yml
  .github/workflows/oracle-db-licence-audit.yml
  .github/workflows/oracle-db-logfile-housekeeping.yml
  .github/workflows/oracle-db-mis-configuration-artefacts.yml
  .github/workflows/oracle-db-oem-agent-setup.yml
  .github/workflows/oracle-db-oem-blackout.yml
  .github/workflows/oracle-db-oem-metrics-setup.yml
  .github/workflows/oracle-db-password-rotation.yml
  .github/workflows/oracle-db-patching.yml
  .github/workflows/oracle-db-release-update.yml
  .github/workflows/oracle-db-remove-orphan-backups.yml
  .github/workflows/oracle-db-restore-points.yml
  .github/workflows/oracle-db-set-parameters.yml
  .github/workflows/oracle-db-snapshot-standby.yml
  .github/workflows/oracle-db-statistics.yml
  .github/workflows/oracle-db-statspack-setup.yml
  .github/workflows/oracle-db-support-awr-reports.yml
  .github/workflows/oracle-db-validate-backups.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

gdpr and merge refresh pipelines added
  .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/merge-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Dba 678 2 (#294)
  .github/workflows/oracle-db-patch-report.yml
  playbooks/oracle_patch_report/oracle_patch_report/defaults/main.yml
  playbooks/oracle_patch_report/oracle_patch_report/tasks/main.yml
  playbooks/oracle_patch_report/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/merge-data-refresh.yaml
  .github/workflows/merge-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Apply suggestions from code review
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Apply suggestions from code review
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Apply suggestions from code review
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

Update .github/workflows/gdpr-data-refresh.yaml
  .github/workflows/gdpr-data-refresh.yaml
Owners: @ministryofjustice/hmpps-migration

workflow name changed
  .github/workflows/delius-core-rds-data-refresh.yaml
  .github/workflows/merge-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Remove hyphen search for weblogic service
  playbooks/oracle_licence_audit/audit/tasks/audit-weblogic.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Missing ReviewLite23.3.sql script
  playbooks/oracle_licence_audit/audit/tasks/audit-database.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Run weblogic task if in delius-core environment
  playbooks/oracle_licence_audit/audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Minor change to task name
  playbooks/oracle_licence_audit/audit/tasks/audit-weblogic.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 697 (#296)
  playbooks/oracle_licence_audit/audit.yml
  playbooks/oracle_licence_audit/audit/tasks/audit-database.yml
  playbooks/oracle_licence_audit/audit/tasks/audit-weblogic.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

gdpr and merge refresh pipelines added (#295)
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration
