Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml (#297)
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Add mis target environments
  .github/workflows/oracle-db-validate-backups.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-rds-data-refresh.yaml (#298)
  .github/workflows/delius-core-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Configure channel
  playbooks/oracle_backup/validate_backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Channel scripts
  playbooks/oracle_backup/files/get_sbt_channel.sh
  playbooks/oracle_backup/files/set_sbt_channel.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add MIS development targets
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add MIS development targets
  .github/workflows/oracle-db-validate-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add MIS database
  .github/workflows/oracle-db-delete-dbids-not-in-use-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 700 (#299)
  .github/workflows/oracle-db-backups-schedule.json
  .github/workflows/oracle-db-delete-dbids-not-in-use-schedule.json
  .github/workflows/oracle-db-validate-backups-schedule.json
  .github/workflows/oracle-db-validate-backups.yml
  playbooks/oracle_backup/files/get_sbt_channel.sh
  playbooks/oracle_backup/files/set_sbt_channel.sh
  playbooks/oracle_backup/validate_backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Refactor to block
  playbooks/oracle_duplicate/rman-duplicate.yml
  playbooks/oracle_duplicate/rman_duplicate_test.sh
  playbooks/oracle_ha/build-ha/files/copy_primary_password_file.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use secrets instead of ssm parameter
  playbooks/oracle_duplicate/files/rman_check_restore_datetime.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

S3 bucket naming standards change
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Replace ssm parameter with secrets
  playbooks/oracle_release_update/oracle_release_update/files/get_catalog_upgrade_required.sh
  playbooks/oracle_release_update/oracle_release_update/files/upgrade_rman_catalog.sh
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/upgrade_rman_catalog.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Default value for Install with OPatch Auto
  playbooks/oracle_interim_patch/oracle_interim_patch/tasks/build-patching-requirements.yml
  playbooks/oracle_interim_patch/oracle_interim_patch/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 701 (#300)
  .github/workflows/oracle-db-duplicate.yml
  playbooks/oracle_duplicate/files/rman_check_restore_datetime.sh
  playbooks/oracle_duplicate/rman-duplicate.yml
  playbooks/oracle_duplicate/rman_duplicate_test.sh
  playbooks/oracle_ha/build-ha/files/copy_primary_password_file.sh
  playbooks/oracle_release_update/oracle_release_update/files/get_catalog_upgrade_required.sh
  playbooks/oracle_release_update/oracle_release_update/files/upgrade_rman_catalog.sh
  playbooks/oracle_release_update/oracle_release_update/tasks/main.yml
  playbooks/oracle_release_update/oracle_release_update/tasks/upgrade_rman_catalog.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Default value for Install with OPatch Auto (#301)
  playbooks/oracle_interim_patch/oracle_interim_patch/tasks/build-patching-requirements.yml
  playbooks/oracle_interim_patch/oracle_interim_patch/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Bucket naming standard change
  playbooks/oracle_backup/fetch_inventory_files.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 697 (#302)
  playbooks/oracle_backup/fetch_inventory_files.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Backup archivelog to avoid failure because FRA is full
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix source code and source config to be picked up
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Ansible inventory group vars ref: correction
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Correct SourceConfigVersion env variable
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Reposition statement
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Inside block
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 684 (#303)
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use pre-prod URLs for non-production refreshes
  playbooks/delius_objects/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix whitespace
  playbooks/delius_objects/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use pre-prod URLs for non-production refreshes (#304)
  playbooks/delius_objects/playbook.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

ssm-plugin-upgrade
  docker/delius-ansible-aws/Dockerfile
Owners: @ministryofjustice/hmpps-migration

ssm-plugin-upgrade (#306)
  docker/delius-ansible-aws/Dockerfile
Owners: @ministryofjustice/hmpps-migration

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration
