Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

Emcli and Emctl scripts
  playbooks/oracle_password_rotation/oem_password_rotation/templates/emcli_script.sh.j2
  playbooks/oracle_password_rotation/oem_password_rotation/templates/emctl_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Copy scripts
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove tasks to get password
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/sync_monitoring_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Command to call script
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/rotate_agent_registration_password.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Call script
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/rotate_oem_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Call script
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_password.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 791 (#465)
  playbooks/oracle_password_rotation/all_password_rotation/tasks/update_oem_targets.yml
  playbooks/oracle_password_rotation/oem_password_rotation/defaults/main.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/main.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/rotate_agent_registration_password.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/rotate_oem_passwords.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_password.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/set_monitoring_passwords.yml
  playbooks/oracle_password_rotation/oem_password_rotation/tasks/sync_monitoring_passwords.yml
  playbooks/oracle_password_rotation/oem_password_rotation/templates/emcli_script.sh.j2
  playbooks/oracle_password_rotation/oem_password_rotation/templates/emctl_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Orapki script
  playbooks/oracle_password_rotation/all_password_rotation/templates/orapki_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove oem secrets variable
  playbooks/oracle_password_rotation/all_password_rotation/defaults/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

No need to keep old system password
  playbooks/oracle_password_rotation/all_password_rotation/tasks/non_oem_database_passwords.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use orapki script
  playbooks/oracle_password_rotation/all_password_rotation/tasks/rotate_wallet_password.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 791 (#466)
  playbooks/oracle_password_rotation/all_password_rotation/defaults/main.yml
  playbooks/oracle_password_rotation/all_password_rotation/tasks/non_oem_database_passwords.yml
  playbooks/oracle_password_rotation/all_password_rotation/tasks/rotate_wallet_password.yml
  playbooks/oracle_password_rotation/all_password_rotation/templates/orapki_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Start backups at 7am in development
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update ldap-rbac-uplift.yml
  .github/workflows/ldap-rbac-uplift.yml
Owners: @ministryofjustice/hmpps-migration

Update ldap-rbac-uplift.yml (#467)
  .github/workflows/ldap-rbac-uplift.yml
Owners: @ministryofjustice/hmpps-migration

Replace password variable tasks with script
  playbooks/oracle_dms_setup/dms_setup/tasks/create-dms-dblink.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

DMS script
  playbooks/oracle_dms_setup/dms_setup/templates/dms_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Flush shared pool on standby only
  playbooks/oracle_dms_setup/dms_setup/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 791 dms (#468)
  playbooks/oracle_dms_setup/dms_setup/tasks/create-dms-dblink.yml
  playbooks/oracle_dms_setup/dms_setup/tasks/main.yml
  playbooks/oracle_dms_setup/dms_setup/templates/dms_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

fix: use default installed aws cli (#422)
  .github/workflows/iaps-ad-admin-rotate.yml
Owners: @ministryofjustice/hmpps-migration

Dba 813 (#470)
  .github/workflows/oracle-db-backups-schedule.json
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Bash shell
  .github/workflows/oracle-db-licence-audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Align cron with schedule
  .github/workflows/oracle-db-schedule-backups.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Align cron with schedule (#471)
  .github/workflows/oracle-db-schedule-backups.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

acl parameter
  playbooks/oracle_licence_audit/audit/tasks/audit-database.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Test acl
  .github/workflows/oracle-db-licence-audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Test acl with setup environments
  .github/workflows/oracle-db-licence-audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add acl for weblogic file upload to s3
  playbooks/oracle_licence_audit/audit/tasks/audit-weblogic.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add stage mis dev environment
  .github/workflows/oracle-db-licence-audit.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add acl for zip file upload to s3
  playbooks/oracle_licence_audit/audit/tasks/audit-upload.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 813 licence (#472)
  .github/workflows/oracle-db-licence-audit.yml
  playbooks/oracle_licence_audit/audit/tasks/audit-database.yml
  playbooks/oracle_licence_audit/audit/tasks/audit-upload.yml
  playbooks/oracle_licence_audit/audit/tasks/audit-weblogic.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

add initial cp helm data refresh job
  .github/workflows/delius-core-cp-helm-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

adapt to gdpr and merge
  .github/workflows/delius-core-cp-helm-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Simply variable reference
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/check_defunct_backups.yml
  playbooks/oracle_backup/validate_backup.yml
  playbooks/oracle_backup/validate_chunks.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Refactor to use template script
  playbooks/oracle_backup/get_facts.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Template shell script
  playbooks/oracle_backup/templates/get_facts_script.sh.j2
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use shell script for checking catalog connection
  playbooks/oracle_backup/setup-catalog-tnsnames.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Extra condition to copy script
  playbooks/oracle_backup/get_facts.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Dba 791 backups (#473)
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/check_defunct_backups.yml
  playbooks/oracle_backup/get_facts.yml
  playbooks/oracle_backup/setup-catalog-tnsnames.yml
  playbooks/oracle_backup/templates/get_facts_script.sh.j2
  playbooks/oracle_backup/validate_backup.yml
  playbooks/oracle_backup/validate_chunks.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

change file name and add component option
  .github/workflows/delius-core-cp-rds-data-refresh.yaml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration
