Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

Test Action Start
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Run test action
  .github/workflows/test-action-start.yml
  playbooks/test_action/tasks/main.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba

id-token
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Missing dev
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Use correct container
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Pass the token
  .github/workflows/test-action-start.yml
  playbooks/test_action/tasks/main.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba

Supply token
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

See the token
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Fix call
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Get token from environment
  playbooks/test_action/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Can we see output?
  playbooks/test_action/tasks/main.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Simple repository dispatch action for testing
  .github/workflows/test-action-end.yml
Owners: @ministryofjustice/hmpps-migration

Remove superflous step
  .github/workflows/test-action-end.yml
Owners: @ministryofjustice/hmpps-migration

Remove unnecessary code
  .github/workflows/test-action-start.yml
Owners: @ministryofjustice/hmpps-migration

Remove unnecessary play
  .github/workflows/test-action-end.yml
Owners: @ministryofjustice/hmpps-migration

Remove unwanted play
  .github/workflows/test-action-end.yml
  playbooks/test_action/tasks/main.yml
Owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba

Change action name
  .github/workflows/oracle-db-action-end.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Test Repository Dispatch event
  .github/workflows/oracle-db-test-action-end.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Allow us to pass JSON to the backup workflow
  .github/workflows/oracle-db-backup-marshal.yml
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Remove Delete Defunct - run that separately
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Process input JSON
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add Debug
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

typo
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

quoting issue
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Single Quote the JSON
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Interim
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Fix setting Backup Status with default
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/validate_chunks.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Quotes
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

End Inputs
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Replace here-doc - code formatter strips out required tabs
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Parameterize branches
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Prepare Slack Channel Name
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Pass the Backup Status
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

add family to task def
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

add name to contianer definition
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Jobs for export/import RMAN catalog schema
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Jobs for export/import RMAN catalog schema
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use Inputs to pass the Period
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

RMAN catalog schema export/import playbook
  playbooks/oracle_duplicate/files/create_tablespace.sh
  playbooks/oracle_duplicate/files/get_dump_location.sh
  playbooks/oracle_duplicate/rman-export-import.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Indent issue
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration
