Repository ministryofjustice/hmpps-delius-operational-automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/hmpps-migration, @ministryofjustice/hmpps-dba, @ministryofjustice/unilink

.github/CODEOWNERS:

# Add a team or username to this file
# Example:
*   @ministryofjustice/hmpps-migration

.github/workflows/oracle-* @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration

.github/workflows/delius-* @ministryofjustice/unilink @ministryofjustice/hmpps-migration

playbooks/** @ministryofjustice/hmpps-dba @ministryofjustice/hmpps-migration
docker/** @ministryofjustice/hmpps-migration
ansible/** @ministryofjustice/hmpps-migration

remove unneeded files
  docker/delius-core/weblogic-eis.json
  docker/delius-core/weblogic.json
Owners: @ministryofjustice/hmpps-migration

Comment out -preapproved from environment
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

udpate task def
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Send Repository Dispatch Events
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

jq for registered task def arn
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

add sleep before updating
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

longer sleep
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Remove ssm bucket
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

while loop
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Echo output
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

family
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Supply JSON Inputs
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Reference steps
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

wrong language!
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Cannot overwrite variable
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing catalog db from export name
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Variable name
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Missing yaml file
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

remove file
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

Correct need job id
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Quote JSON
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Wrong quote type
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

debug
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Revert
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Force single quotes
  .github/workflows/oracle-db-backup.yml
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

More quoting
  .github/workflows/oracle-db-backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update delius-core-update-task-def.yml
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-update-task-def.yml
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

quotes
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Update delius-core-update-task-def.yml
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-update-task-def.yml
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

Update delius-core-update-task-def.yml
  .github/workflows/delius-core-update-task-def.yml
Owners: @ministryofjustice/unilink, @ministryofjustice/hmpps-migration

rename workflow file
  .github/workflows/weblogic-update-task-def.yml
  docker/delius-core/delius-core-task-def.json
Owners: @ministryofjustice/hmpps-migration

comment out workflow dispatch
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

Test catalog schema parameter
  .github/workflows/oracle-db-duplicate.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Quote the JSON inputs
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Add workflow for updating task definition (#235)
  .github/workflows/weblogic-update-task-def.yml
Owners: @ministryofjustice/hmpps-migration

Prevent interpreting JSON
  playbooks/oracle_backup/backup.yml
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Use base64 encoding for JSON
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration

Debug output
  playbooks/oracle_backup/backup.yml
  playbooks/oracle_backup/rman_backup.sh
Owners: @ministryofjustice/hmpps-dba, @ministryofjustice/hmpps-migration
